[submodule "libs/wgpu_native_zig"]
	path = libs/wgpu_native_zig
	url = https://github.com/gstrainovic/wgpu_native_zig.git
[submodule "libs/clay-zig"]
	path = libs/clay-zig
	url = https://github.com/gstrainovic/clay-zig-bindings
	branch = zid
[submodule "libs/zigimg"]
	path = libs/zigimg
	url = https://github.com/zigimg/zigimg
[submodule "libs/wio"]
	path = libs/wio
	url = https://github.com/gstrainovic/wio.git
[submodule "libs/zigjr"]
	path = libs/zigjr
	url = https://github.com/williamw520/zigjr
[submodule "libs/fancy-cat"]
	path = libs/fancy-cat
	url = https://github.com/gstrainovic/fancy-cat.git
	ignore = dirty
[submodule "libs/nanosvg-zig"]
	path = libs/nanosvg-zig
	url = https://github.com/gstrainovic/nanosvg-zig
[submodule "libs/zigdown"]
	path = libs/zigdown
	url = https://github.com/gstrainovic/zigdown.git
[submodule "libs/ghostty"]
	path = libs/ghostty
	url = https://github.com/ghostty-org/ghostty.git
[submodule "engines/llama.cpp-vulkan"]
	path = engines/llama.cpp-vulkan
	url = https://github.com/ggml-org/llama.cpp
