[submodule "libs/wgpu_native_zig"]
	path = libs/wgpu_native_zig
	url = https://github.com/gstrainovic/wgpu_native_zig.git
[submodule "libs/gooey"]
	path = libs/gooey
	url = https://github.com/gstrainovic/gooey-vulkan
[submodule "libs/clay-zig"]
	path = libs/clay-zig
	url = https://github.com/johan0A/clay-zig-bindings
[submodule "libs/zigimg"]
	path = libs/zigimg
	url = https://github.com/zigimg/zigimg
[submodule "libs/wio"]
	path = libs/wio
	url = https://github.com/gstrainovic/wio.git
[submodule "libs/sev"]
	path = libs/sev
	url = https://github.com/dylancobb/sev
