pkgbase = zid-bin
	pkgdesc = GPU-beschleunigter Editor mit Markdown-Vorschau, PDF-Anzeige und lokaler KI
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/gstrainovic/zid
	arch = x86_64
	license = AGPL-3.0-only
	depends = freetype2
	depends = harfbuzz
	depends = libpng
	depends = zlib
	depends = glib2
	optdepends = vulkan-icd-loader: GPU-Rendering
	optdepends = vulkan-radeon: Vulkan-Treiber für AMD
	optdepends = vulkan-intel: Vulkan-Treiber für Intel
	optdepends = nvidia-utils: Vulkan-Treiber für NVIDIA
	provides = zid
	conflicts = zid
	options = !strip
	options = !debug
	source = https://github.com/gstrainovic/zid/releases/download/v0.1.1/zid-0.1.1-x86_64-linux.tar.xz
	sha256sums = d62014495c4e8ef7b236197d791e6ffdb54faf80c7a09a2790a0e69bd6e45f70

pkgname = zid-bin
